<!DOCTYPE html>
<html>
<head>
{% include head.html %}
{% seo %}

</head>
<body>
  {% include nav.html %}

  <div class="container">
    <h1><a href="./">

        </a></h1>

<!-- LightWidget WIDGET -->
<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/166e1c9ae523538c8b9c0cee12b778aa.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    {{ content }}
  </div>


{% include scripts.html %}
</body>
</html>
